extends ../layout/layout.pug
block content
  <div class="page-wrapper">
  <div class="content">
  <div class="row">
  <div class="col-sm-4 col-3">
  <h4 class="page-title">Employee</h4>
  </div>
  <div class="col-sm-8 col-9 text-right m-b-20">
  <a href="add-employee" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Add Employee</a>
  </div>
  </div>
  <div class="row filter-row">
  <div class="col-sm-6 col-md-3">
  <div class="form-group form-focus">
  <label class="focus-label">Employee ID</label>
  <input type="text" class="form-control floating">
  </div>
  </div>
  <div class="col-sm-6 col-md-3">
  <div class="form-group form-focus">
  <label class="focus-label">Employee Name</label>
  <input type="text" class="form-control floating">
  </div>
  </div>
  <div class="col-sm-6 col-md-3">
  <div class="form-group form-focus select-focus">
  <label class="focus-label">Role</label>
  <select class="select floating">
  <option>Select Role</option>
  <option>Nurse</option>
  <option>Pharmacist</option>
  <option>Laboratorist</option>
  <option>Accountant</option>
  <option>Receptionist</option>
  </select>
  </div>
  </div>
  <div class="col-sm-6 col-md-3">
  <a href="#" class="btn btn-success btn-block"> Search </a>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  <div class="table-responsive">
  <table class="table table-striped custom-table">
  <thead>
  <tr>
  <th style="min-width:200px;">Name</th>
  <th>Employee ID</th>
  <th>Email</th>
  <th>Mobile</th>
  <th style="min-width: 110px;">Join Date</th>
  <th>Role</th>
  <th class="text-right">Action</th>
  </tr>
  </thead>
  <tbody>
  each employee in employeeList
    <tr>
      <td>
      <img width="28" height="28" src="assets/img/user.jpg" class="rounded-circle" alt=""> <h2>#{employee.first_name}</h2>
      </td>
      <td>#{employee._id}</td>
      <td>#{employee.email}</td>
      <td>#{employee.phone_no}</td>
      <td>#{employee.join_date}</td>
      <td>
      <span class="custom-badge status-green">#{employee.role}</span>
      </td>
  </tr>
      </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  <div class="sidebar-overlay" data-reff=""></div>
  block scripts